body {
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: center;
}

.topbuttons {
  display: flex;
  flex-direction: column;
}

.bottombuttons {
  display: flex;
  flex-direction: column;
}

.gamemenu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-weight: bold;
  font-size: 50px;
  margin-left: 250px;
  color: white;
}

.startbutton,
.restartbutton {
  cursor: pointer;
}

.timer {
  margin-bottom: 100px;
}

.redbutton {
  background-color: #ff6b6b;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.bluebutton {
  background-color: #99ccff;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.greenbutton {
  background-color: #99ff66;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.yellowbutton {
  background-color: #ffff99;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}
