body {
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: center;
}

.topbuttons {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.bottombuttons {
  display: flex;
  flex-direction: column;
}

.greenbutton,
.yellowbutton {
  margin-bottom: 20px;
}

.gametext {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding-top: 60px;
}
.menubuttons {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding-top: 50px;
}

.startbutton {
  padding-right: 20px;
}

.restartbutton {
  padding-left: 20px;
}

.startbutton,
.restartbutton {
  cursor: pointer;
}

.timer {
  margin-bottom: 100px;
}

.redbutton {
  background-color: #ff6b6b;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.bluebutton {
  background-color: #99ccff;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.greenbutton {
  background-color: #99ff66;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.yellowbutton {
  background-color: #ffff99;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}
