body {
  background-color: black;
}

.topbuttons {
  display: flex;
  flex-direction: row;
}

.bottombuttons {
  display: flex;
  flex-direction: row;
}

.gamemenu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-weight: bold;
  font-size: 50px;
  margin-left: 250px;
  color: white;
}

.startbutton,
.restartbutton {
  cursor: pointer;
}

.timer {
  margin-bottom: 100px;
}

.redbutton {
  background-color: #c30010;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.bluebutton {
  background-color: #0000ff;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.greenbutton {
  background-color: #03ac13;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

.yellowbutton {
  background-color: #fff000;
  height: 200px;
  width: 200px;
  border-radius: 40px;
}
